/*
font: Bold 26px Raleway - logo header footer
font: Medium 14px Roboto - text-nav-header
font: Black 44px Roboto - h1
font: Bold 16px Roboto - text-button-hero
font: Bold 14px Roboto - h3
font: Regular 14px Roboto - p, text-nav-footer
font: Bold 36px Roboto - h2
font: Medium 16px Roboto - h3-our-team, text-nav-portfolio
font: Regular 16px Roboto - p, p-our-team, p-portfolio-items
font: Bold 18px Roboto - h3-portfolio-items

Roboto Medium-500 Black-800 Bold-700 Regular-400
Raleway Bold-700


color: #000000 logo

#212121 text-main-and-portfolio-nav, h2, h3

#2196F3 button-hero
#188CE8 hover, button-hero

#FFFFFF h1, text-button-hero, text-nav-footer
#C4C4C4 text-nav-contact-footer

#E5E5E5 backgroung-why-we-and-what-we-do
#F5F4FA background-our-team, buttons-nav-portfolio

#757575 text-p

#2F303A background-hero-and-footer


*/
body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /*24px or 171% */

  letter-spacing: 0.03em;

  color: #757575;
  background-color: #e5e5e5;
}
